@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

    /* Bāzes parametru atcelšana visiem elementiem */
}
body{
    font-size: 16pt;
    font-family: "Roboto", sans-serif;

    background-color: #b700ff;
}

nav{
    background-color: yellow;
}

h2{
    text-align: center;
    margin:30px 10px;
}

h2.sec1_head2{color:#00b7ff}
h2.sec2_head2{color:#99ff00}
h2.sec3_head2{color:#ffffff}

p,ul,ol,table{
    width:50%;
    margin:auto;
}

#sec1{
    padding: 20px;
    background-color: azure;
}
#sec2{
    padding: 20px;
    background-color: #b0bdbd;
}
#sec3{
    padding: 20px;
    background-color: #adfafa;
}
#sec4{


    padding: 20px;
    background-color: #adfafa;


    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:10px;
        img{
            display: block;
        }
    }
}
img{
    max-width: 80%;
}


/* Bloki */

header{
    /* width: 300px;
    width:50%;
    width:10rem;
    width:30vw; */

    max-width:800px;

    height:100px;
    height:auto;


    /* Ārējās atkāpes */

    margin:50px;
    margin:10px 50px;

    margin:10px auto;
    /* Noliek bloku centrā */

    margin-top: 45px;

    padding:30px;
    box-sizing: border-box;


    /* apmales */

    
    /* border-style: dotted;
    border-color:aquamarine;
    border-width: 5px; */
    border-bottom:10px solid red;


}
iframe, video,audio{
    display: block;
    width: 100%;
    box-sizing: border-box;   
}

form{
    max-width: 500px;
    margin: 0px auto;
}
fieldset{
    padding: 20px;
}

input,textarea,select{
    border: 1px solid rgb(3, 3, 3);
    padding: 5px 10px;
    margin:5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3em;
}


/* Darbs ar konteinieriem, Flexbox */

div.container{

    display: flex;
    justify-content: center;
    align-items: center
}

div.container div{
    /* width:50% */
}



/* Grid izmantošana */

#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    place-items: center;
    padding: 20px;
}

#gallery img{
    width:100%;
    /* height:auto; */
    /* object-fit:fill */

}



/* Teksta noformēšana */

h1{
    color: #99ff00;
    font-family: "Arial", sans-serif;
    font-family: "Audiowide", sans-serif;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #00b7ff;
    text-indent: 3rem;
    text-transform: uppercase;
    text-shadow: 0px 10px 10px #0000005e;

}
p{
     text-indent: 1rem;
     
}

nav{
    display:flex;
    justify-content: center;
    gap:30px;
    padding: 20px;
    a{
        text-decoration: none;
    }
}


/* Elementu pozicionēšana */

.position{
    padding:30px;
    background-color: rgba(0, 0, 0, 0.652);

    position: static;

    position: relative;
    position: absolute;

    position: fixed;
    

    /* width:100vw;
    height:100vh; */


    top:0px;
    left:0px;
    /* bottom:0px;
    right:0px; */
    z-index:0;



}


nav{
    position: sticky;
    top:0px;
    z-index: 500;
}


header{
    position: relative;
    z-index: -2;

    img{
        position: absolute;
        top:0px;
        right:0px;
        height:100%;
        object-fit: contain;
        z-index: -1;
    }
}

/* Pseido klases */
nav{
    padding: 0px 20px;
}
nav a{
    color:black;
    display: block;
    height:100%;
    padding:20px;
}

nav a:hover{
    background-color:red;

    transition: all 700ms cubic-bezier(0,.32,.16,1.43);

}

nav a:active{
    color:white;
}


#gallery img:nth-child(even){
    border:2px solid red;
}
#gallery img:nth-child(odd){
    border:2px solid rgb(0, 255, 213);
}


#gallery img:nth-child(5){
    border:2px solid rgb(255, 132, 0);
}

#gallery{
    perspective: 450mm;
}

/* {
            /* Transformācijas */
        /* transform: rotate(5deg) scale(1.2) skew(5deg) ;     */
        /* transform: rotateY(180deg);     */
 

      /* transition: all 700ms cubic-bezier(0,.32,.16,1.43); */
/* } */


#gallery img:hover{-webkit-animation:flip-vertical-fwd .4s cubic-bezier(.455,.03,.515,.955) both;animation:flip-vertical-fwd .4s cubic-bezier(.455,.03,.515,.955) both}


/* ----------------------------------------------
 * Generated by Animista on 2026-5-18 19:44:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes flip-vertical-fwd{0%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}100%{-webkit-transform:translateZ(160px) rotateY(180deg);transform:translateZ(160px) rotateY(180deg)}}@keyframes flip-vertical-fwd{0%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}100%{-webkit-transform:translateZ(160px) rotateY(180deg);transform:translateZ(160px) rotateY(180deg)}}

/* tabulu noformēšana */


table{
    border: 1px solid black;
    border-collapse: collapse;
}
tr,td{
    border: 1px solid black;
    
}
tr:nth-child(2n){
    background-color: rgba(255, 255, 255, 0.344);
}

tr:hover{
    background-color: rgba(255, 255, 255, 0.622);
}


td{
    padding: 5px;
}


input:focus,input:focus-visible,textarea:focus{
    outline:2px solid whitesmoke;
} 

h2::after{
    content: "";
    background: url('./17122617.gif');
    background-size: contain;
    width: 50px;
    height: 50px;
    display: block;
    color:white;
    margin: 10px auto;
    

}

ul{
    list-style-type:none;

    li::before{

        font:var(--fa-font-brands);
        content: "\f209";
        margin-right: 5px;
    }
}


/* Fona attēli un gradienti */


#sec1{
    background-image: linear-gradient(#0088ff,#3c00ff);
    background-image: radial-gradient(#0088ff,#3c00ff);
    background-image: url('https://t4.ftcdn.net/jpg/02/82/44/61/360_F_282446155_qsSedXYDbiB3Unw5LElZePbDvUhRQdN7.jpg');
    background-size: cover;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;



}

button{
    background: #13b3f2;
    background: linear-gradient(201deg, rgba(19, 179, 242, 1) 1%, rgba(87, 199, 133, 1) 55%, rgba(237, 221, 83, 1) 100%);
    padding: 20px;
    background-size:100%;
    background-position: center;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    margin:20px;
    border:none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.566);
    min-width:100px;
    cursor: pointer;
    border-radius: 5px;
     transition: all 200ms linear;

}

button:hover{
    background-size: 150%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.566);
    transition: all 500ms linear;
}
button:active{
     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.566);
    background-position: bottom bottom;
    transition: all 100ms linear;
}
 .position{
        display:none;
    }

/* Adaptīvais dizains */

@media screen and (max-width:450px) {
    body{
        background-color: red;


    }

    header h1{
        font-size: 1.2rem;
    }

    table{
        display: none;
    }

   

    #gallery{
        grid-template-columns: 1fr 1fr;
    }

    div.container{
         flex-direction: column;
           p{
            width:auto;
           } 
         img{
            display: block;
            margin:10px auto;
         }
    }
    nav{
        flex-direction: column;
        position: absolute;
        top:0px;
        width:100%;
        height:auto;
        gap:10px;

        a{
            padding:0px;
        }
    }

    form{
        margin:5px 10px;
        font-size: 1rem;
        fieldset{
           width:100%;
        }
    }
}
@media screen and (min-width:451px) and (max-width:1000px) {
    body{
        background-color: rgb(255, 225, 0);


    }

    header h1{
        font-size: 2rem;
    }
     #gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    table{
        width:90%;
    }
    div.container{
         flex-direction: column;
           p{
            width:auto;
           } 
         img{
            display: block;
            margin:10px auto;
         }
    }
}

@media screen and (min-width:1001px) {
    body{
        background-color: rgb(81, 0, 255);

    }
}

